<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>QPlayer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.aple.qplayer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>video-qplayer</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1688</string>
	<key>InkeHotLiveUrl</key>
	<string>https://h5.inke.cn/app/home/hotlive</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqzone</string>
		<string>mqqzonewx</string>
		<string>mqqconnect</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MyBlogUrl</key>
	<string>https://dgynfi.github.io</string>
	<key>MyEmail</key>
	<string>vinphy.teng@foxmail.com</string>
	<key>MyGithubUrl</key>
	<string>https://github.com/dgynfi/</string>
	<key>MyJianShuUrl</key>
	<string>https://www.jianshu.com/u/7fc76f1179cc</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>是否允许此App访问你的媒体库？</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此App使用你的设备相机？若不允许，则无法使用相机功能。</string>
	<key>NSLocationUsageDescription</key>
	<string>是否允许此App访问你的位置？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>是否允许此App在使用时访问你的位置？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否允许此App访问你的媒体资料库？若不允许，则无法存取照片。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此App访问你的媒体资料库？若不允许，则无法存取照片。</string>
	<key>QPlayerGithubUrl</key>
	<string>https://github.com/dgynfi/QPlayer</string>
	<key>QPlyerBriefIntro</key>
	<string>QPlayer 是一款不容你错过的强大的视频播放器，支持 M4V、WMV、MP4、MOV、AVI、MKV、MPEG、MPG、FLV、RM、RMVB、MP3 等主流媒体格式，支持 WiFi 文件传输，可以随时随地观看本地视频。聚合了多个直播、视频和短视频平台，可以在线观看直播、视频和短视频，同时支持 HTTP、RTMP、RTSP、HLS 等流媒体播放。</string>
	<key>TecentVideoUrl</key>
	<string>https://m.v.qq.com/</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
