<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CCTV-1 综合</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv1hd.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-2 财经</key>
		<string>https://cctvcnch5ca.v.wscdns.com/live/cctv2_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-3 综艺</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv3hd.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-4 中文国际</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv4.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-5 体育</key>
		<string>http://125.210.152.10:8060/live/CCTV5HD_H265.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-5+ 体育赛事</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv5phd.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-6 电影</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv6hd.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-7 国防军事</key>
		<string>http://cctvalih5ca.v.myalicdn.com/live/cctv7_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-8 电视剧</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv8hd.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-9 纪录</key>
		<string>http://cctvalih5ca.v.myalicdn.com/live/cctvjilu_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-10 科教</key>
		<string>http://cctvalih5ca.v.myalicdn.com/live/cctv10_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-11 戏曲</key>
		<string>http://cctvalih5ca.v.myalicdn.com/live/cctv11_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-12 社会与法</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv12.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-13 新闻</key>
		<string>http://ivi.bupt.edu.cn/hls/cctv13.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-14 少儿</key>
		<string>http://cctvalih5ca.v.myalicdn.com/live/cctvchild_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-15 音乐</key>
		<string>http://cctvalih5ca.v.myalicdn.com/live/cctv15_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CCTV-17 农业农村</key>
		<string>https://cctvksh5ca.v.kcdnvip.com/clive/cctv17_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CETV1 中国教育一台</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/cetv1_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CETV2 中国教育二台</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/cetv2_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CETV3 中国教育三台</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/cetv3_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CETV4 中国教育四台</key>
		<string>http://cctvtxyh5ca.liveplay.myqcloud.com/cstv/cetv4_2/index.m3u8</string>
	</dict>
	<dict>
		<key>CHC高清电影</key>
		<string>https://ivi.bupt.bt3.eyunzhu.com/hls/chchd.m3u8</string>
	</dict>
	<dict>
		<key>湖南卫视</key>
		<string>rtmp://58.200.131.2:1935/livetv/hunantv</string>
	</dict>
	<dict>
		<key>湖南公共频道</key>
		<string>http://phonetx.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPTk1MTU1MzgxMzkzODhjYWJlZWY5OGQzYzAxMWVhMWE3JmVzPTE1ODc4NDAxMTEmdXVpZD0zMWQ2MWE4ZThhZDdiYmM3ZWRiYzViZjFhOTcxMGNkOS03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD10eF9waG9uZV9saXZl/HNGGMPP360.m3u8</string>
	</dict>
	<dict>
		<key>湖南都市频道</key>
		<string>http://phonetx.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPWJmMjg5ZDBlOWU4NDIwZWEwNDM5NTc5MjYxZjdiZDRhJmVzPTE1ODc4NDE4ODgmdXVpZD0zZmI5NzNjNmI4MWNhODc2ZmNiYmVlZDk1MTNlYjY0NC03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD10eF9waG9uZV9saXZl/HNDSMPP360.m3u8</string>
	</dict>
	<dict>
		<key>湖南娱乐频道</key>
		<string>http://phonews.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPWVhODZjYjllYmQxN2IzMzA1YzY3MDA5MzUyNWNlYjZhJmVzPTE1ODc4NTQ1NzcmdXVpZD05ZjI4ZmZkYjgyNGE4MGE2NWExNDJhYWU3OGY2OTJjNi03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD13c19waG9uZTM,/HNYLMPP360.m3u8</string>
	</dict>
	<dict>
		<key>金鹰纪实频道</key>
		<string>http://phonehw.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPTE0MDBmNzA4Y2QxZDNkMjY0NTI3NzA1NmJjNGYzY2Q4JmVzPTE1ODc4NTUyMTcmdXVpZD02Y2ViODJkMjlkZmIxOTFkMTNkYWEwYmZhYTJiYWI2ZS03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD1od19waG9uZQ,,/JYJSMPP360.m3u8</string>
	</dict>
	<dict>
		<key>金鹰卡通</key>
		<string>http://121.31.30.90:8085/ysten-business/live/jinyingkaton/1.m3u8</string>
	</dict>
	<dict>
		<key>湖南经视频道</key>
		<string>http://phonews.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPTU3ODMzMGE5MDYwNjU1NDk3OTE5MWVmYmZjNTg4MzNjJmVzPTE1ODc4NDQyNTUmdXVpZD1jMzQwYTliZTk5ZjVjODBhZjU3YWJlNzllNTJlMDYwMi03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD13c19waG9uZTM,/HNJSMPP360.m3u8</string>
	</dict>
	<dict>
		<key>湖南电视剧频道</key>
		<string>http://phonews.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPTFmOWY4ODIzOWFiNTZjMGIwM2Q3ODNmMGZlNmQxMjljJmVzPTE1ODc4NTU4NTMmdXVpZD1mMWQzNjBiZjNkYWNhZDdjZWYwNjIwMDkwYWYyZThhOS03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD13c19waG9uZTM,/HNDSJMPP360.m3u8</string>
	</dict>
	<dict>
		<key>湖南国际频道</key>
		<string>http://phonews.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPWYwZmFiODVkOWFmNThkY2Y0MTA4NWU3YzM2YTZjYzAwJmVzPTE1ODc4NTcyODkmdXVpZD1mNmY4ZjlkNWZlNDRlNzI2M2MyNzMwZmNjNWVlYWQxMC03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD13c19waG9uZTM,/HNGJMPP360.m3u8</string>
	</dict>
	<dict>
		<key>先锋乒羽</key>
		<string>http://phonews.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPTFhNGU2NTY1NjMzN2Y1YmE2NjE1NGRhMGMxMzQyZTBhJmVzPTE1ODc4MzA2ODgmdXVpZD02N2EzOTk3ZWZmMzI1YjEzZDQ3ODM1MDU2MjRlYWIzMS03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD13c19waG9uZTM,/XFPYMPP360.m3u8</string>
	</dict>
	<dict>
		<key>湖南快乐购</key>
		<string>http://phonehw.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPWQzNTMzZDZmZjEwZWE0YmQ1ODRjZTNmYjlmNWEyZDIzJmVzPTE1ODc4NDIyODcmdXVpZD00ZTc4ODE2Yjk3ZDhiODdmNWY3M2Q4NDk0NWIwNTM4ZC03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD1od19waG9uZQ,,/KLGMPP360.m3u8</string>
	</dict>
	<dict>
		<key>长沙新闻频道</key>
		<string>http://phonews.qing.mgtv.com/nn_live/nn_x64/cWlkPSZzPWViY2JkMjBmMTQ1ZmViNjE2ODdjYzAwOWZmOTVmMTdiJmVzPTE1ODc4NTc0NjEmdXVpZD1jNmIzMWRhYzRjZDU1OTEzZGE1ZTdlNDI2NjI0ODVmMC03YWU0ZDIwNyZ2PTImYXM9MCZjZG5leF9pZD13c19waG9uZTM,/CSXWMPP360.m3u8</string>
	</dict>
	<dict>
		<key>长沙政法频道</key>
		<string>http://35848.hlsplay.aodianyun.com/guangdianyun_35848/tv_channel_348.m3u8</string>
	</dict>
	<dict>
		<key>长沙女性频道</key>
		<string>http://35848.hlsplay.aodianyun.com/guangdianyun_35848/tv_channel_349.m3u8</string>
	</dict>
	<dict>
		<key>长沙影视频道</key>
		<string>http://35848.hlsplay.aodianyun.com/guangdianyun_35848/tv_channel_350.m3u8</string>
	</dict>
	<dict>
		<key>长沙嘉丽购物</key>
		<string>http://35848.hlsplay.aodianyun.com/guangdianyun_35848/tv_channel_354.m3u8</string>
	</dict>
	<dict>
		<key>桃江电视台</key>
		<string>http://hntj.chinashadt.com:2036/live/tv11.stream_360p/playlist.m3u8</string>
	</dict>
	<dict>
		<key>湖北卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/hubei_2/index.m3u8</string>
	</dict>
	<dict>
		<key>湖北经视频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-hbjs.m3u8</string>
	</dict>
	<dict>
		<key>湖北影视频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-hbys.m3u8</string>
	</dict>
	<dict>
		<key>湖北生活频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-hbsh.m3u8</string>
	</dict>
	<dict>
		<key>湖北综合频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-hbzh.m3u8</string>
	</dict>
	<dict>
		<key>湖北公共频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-hbgg.m3u8</string>
	</dict>
	<dict>
		<key>湖北教育频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-hbjy.m3u8</string>
	</dict>
	<dict>
		<key>湖北休闲指南频道</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-xxzn.m3u8</string>
	</dict>
	<dict>
		<key>湖北美嘉购物</key>
		<string>http://live.cjyun.org/hubeitv/s10008-live-mjgw.m3u8</string>
	</dict>
	<dict>
		<key>中国交通湖北频道</key>
		<string>http://tv.lanjingfm.com/cctbn/hubei.m3u8</string>
	</dict>
	<dict>
		<key>武汉教育频道</key>
		<string>http://stream.appwuhan.com/jyzb/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>武汉一套新闻综合</key>
		<string>http://stream.appwuhan.com/1tzb/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>武汉三套科技生活</key>
		<string>http://stream.appwuhan.com/3tzb/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>武汉三套科技生活</key>
		<string>http://stream.appwuhan.com/3tzb/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>武汉六套外语</key>
		<string>http://stream.appwuhan.com/6tzb/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>武汉七套少儿</key>
		<string>http://stream.appwuhan.com/7tzb/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>襄阳综合频道</key>
		<string>http://xiangyang.live.cjyun.org/video/s10125-news_hd/index.m3u8</string>
	</dict>
	<dict>
		<key>黄冈新闻综合频道</key>
		<string>http://huanggang.live.cjyun.org/video/s10120-xwzh.m3u8</string>
	</dict>
	<dict>
		<key>北京卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/btv1_2/index.m3u8</string>
	</dict>
	<dict>
		<key>北京科教频道</key>
		<string>http://ivi.bupt.edu.cn/hls/btv3.m3u8</string>
	</dict>
	<dict>
		<key>北京影视频道</key>
		<string>http://ivi.bupt.edu.cn/hls/btv4.m3u8</string>
	</dict>
	<dict>
		<key>北京财经频道</key>
		<string>http://ivi.bupt.edu.cn/hls/btv5.m3u8</string>
	</dict>
	<dict>
		<key>北京生活频道</key>
		<string>http://ivi.bupt.edu.cn/hls/btv7.m3u8</string>
	</dict>
	<dict>
		<key>北京青年频道</key>
		<string>http://ivi.bupt.edu.cn/hls/btv8.m3u8</string>
	</dict>
	<dict>
		<key>北京新闻频道</key>
		<string>http://ivi.bupt.edu.cn/hls/btv9.m3u8</string>
	</dict>
	<dict>
		<key>BTV卡酷少儿</key>
		<string>http://ivi.bupt.edu.cn/hls/btv10.m3u8</string>
	</dict>
	<dict>
		<key>北京交通广播 FM103.9</key>
		<string>http://lhttp.qingting.fm/live/336/64k.mp3</string>
	</dict>
	<dict>
		<key>北京外语广播 AM774</key>
		<string>http://lhttp.qingting.fm/live/334/64k.mp3</string>
	</dict>
	<dict>
		<key>CNC中文台</key>
		<string>http://livecdn1.news.cn/cnccn/manifest.m3u8</string>
	</dict>
	<dict>
		<key>江苏卫视</key>
		<string>http://by4.nty.tv189.cn/tm-jsyshd-800k.m3u8</string>
	</dict>
	<dict>
		<key>江苏公共频道</key>
		<string>http://101.89.132.136/live/tm-jsgghd-800k.m3u8</string>
	</dict>
	<dict>
		<key>江苏教育频道</key>
		<string>http://101.89.132.136/live/tm-jsjyhd-800k.m3u8</string>
	</dict>
	<dict>
		<key>江苏体育休闲频道</key>
		<string>http://by4.nty.tv189.cn/tm-jstyhd-800k.m3u8</string>
	</dict>
	<dict>
		<key>优漫卡通</key>
		<string>http://223.110.243.171/PLTV/3/224/3221226982/index.m3u8</string>
	</dict>
	<dict>
		<key>无锡新闻综合频道</key>
		<string>http://live-wx.wifiwx.com/wxtv1/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>无锡都市资讯频道</key>
		<string>http://live-wx.wifiwx.com/wxtv3/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>无锡经济频道</key>
		<string>http://live-wx.wifiwx.com/wxtv5/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>无锡生活频道</key>
		<string>http://live-wx.wifiwx.com/wxtv4/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>无锡娱乐频道</key>
		<string>http://live-wx.wifiwx.com/wxtv2/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>常州新闻综合频道</key>
		<string>http://stream.cztv.tv/cztvxw/playlist.m3u8?_upt=a69a378e1587743836</string>
	</dict>
	<dict>
		<key>常州都市频道</key>
		<string>http://stream.cztv.tv/cztvds/playlist.m3u8?_upt=b75f6c351587743933</string>
	</dict>
	<dict>
		<key>常州生活频道</key>
		<string>http://stream.cztv.tv/cztvsh/playlist.m3u8?_upt=5f6342881587743980</string>
	</dict>
	<dict>
		<key>浙江卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/zjhd.m3u8</string>
	</dict>
	<dict>
		<key>浙江经视频道</key>
		<string>http://125.210.152.10:8060/live/ZJJS.m3u8</string>
	</dict>
	<dict>
		<key>浙江国际频道</key>
		<string>http://yf.m.l.cztv.com/channels/lantian/channel10/360p.m3u8?</string>
	</dict>
	<dict>
		<key>浙江影视频道</key>
		<string>http://hw-m-l.cztv.com/channels/lantian/channel05/360p.m3u8?k=bf3919077fb8efe0b67436d281cab9cd&amp;t=1587575126</string>
	</dict>
	<dict>
		<key>浙江公共新闻频道</key>
		<string>http://ali.m.l.cztv.com/channels/lantian/channel07/360p.m3u8?</string>
	</dict>
	<dict>
		<key>浙江教育科技频道</key>
		<string>http://hw-m-l.cztv.com/channels/lantian/channel04/360p.m3u8?k=0b16b9903e6046f1e14c1ab063014afe&amp;t=1587575233</string>
	</dict>
	<dict>
		<key>浙江少儿频道</key>
		<string>http://hw-m-l.cztv.com/channels/lantian/channel08/360p.m3u8?k=38abee37c502f0248218272c0cf9e147&amp;t=1587575403</string>
	</dict>
	<dict>
		<key>安徽卫视</key>
		<string>http://cctvtxyh5ca.liveplay.myqcloud.com/wstv/anhui_2/index.m3u8</string>
	</dict>
	<dict>
		<key>安徽国际频道</key>
		<string>http://zbbf2.ahtv.cn/live/dab.m3u8</string>
	</dict>
	<dict>
		<key>安徽经济生活频道</key>
		<string>http://zbbf2.ahtv.cn/live/750.m3u8</string>
	</dict>
	<dict>
		<key>安徽公共频道</key>
		<string>http://zbbf2.ahtv.cn/live/752.m3u8</string>
	</dict>
	<dict>
		<key>安徽科教频道</key>
		<string>http://zbbf2.ahtv.cn/live/754.m3u8</string>
	</dict>
	<dict>
		<key>安徽影视频道</key>
		<string>http://zbbf2.ahtv.cn/live/756.m3u8</string>
	</dict>
	<dict>
		<key>安徽综艺频道</key>
		<string>http://zbbf2.ahtv.cn/live/758.m3u8</string>
	</dict>
	<dict>
		<key>安徽人物频道</key>
		<string>http://zbbf2.ahtv.cn/live/da9.m3u8</string>
	</dict>
	<dict>
		<key>中国交通安徽频道</key>
		<string>http://tv.lanjingfm.com/cctbn/anhui.m3u8</string>
	</dict>
	<dict>
		<key>安徽家家购物</key>
		<string>http://pili-live-hls.pull.qn.ahtv.cn/pull-qn/jjgw.m3u8?v3=1&amp;uuid=tEVqARbC1ru22V8hQU23_lWjtDO5lh9w</string>
	</dict>
	<dict>
		<key>东方卫视</key>
		<string>http://118.123.60.8:8114/LIVES/Fsv_otype=1?FvSeid=5cbfa40873c73b82&amp;Fsv_filetype=1&amp;Fsv_ctype=LIVES&amp;Fsv_cid=0&amp;Fsv_chan_hls_se_idx=1&amp;Fsv_rate_id=1&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftEnable=0&amp;Fsv_ShiftTsp=0&amp;Provider_id=&amp;Pcontent_id=index.m3u8&amp;Fsv_CMSID=&amp;Fsv_otype=1</string>
	</dict>
	<dict>
		<key>上海新闻综合频道</key>
		<string>http://hw-stream.kksmg.com/live/stv5ed4462f.m3u8</string>
	</dict>
	<dict>
		<key>上海第一财经频道</key>
		<string>https://w1live.livecdn.yicai.com/live/cbn.m3u8</string>
	</dict>
	<dict>
		<key>上海五星体育频道</key>
		<string>http://117.156.28.21/PLTV/88888888/224/3221225603/index.m3u8</string>
	</dict>
	<dict>
		<key>上海电视剧</key>
		<string>http://by4.nty.tv189.cn/tm-shdsj-800k.m3u8</string>
	</dict>
	<dict>
		<key>上海东方娱乐</key>
		<string>http://hw-stream.kksmg.com/live/ylpd7bf15f94.m3u8</string>
	</dict>
	<dict>
		<key>上海炫动卡通</key>
		<string>http://121.31.30.90:8085/ysten-business/live/xuandongkaton/1.m3u8</string>
	</dict>
	<dict>
		<key>上海交通广播 FM105.7</key>
		<string>http://lhttp.qingting.fm/live/266/64k.mp3</string>
	</dict>
	<dict>
		<key>上海故事广播 FM107.2</key>
		<string>http://lhttp.qingting.fm/live/268/64k.mp3</string>
	</dict>
	<dict>
		<key>上海动感101音乐 FM101.7</key>
		<string>http://lhttp.qingting.fm/live/274/64k.mp3</string>
	</dict>
	<dict>
		<key>上海魅力103 FM103.7</key>
		<string>http://lhttp.qingting.fm/live/273/64k.mp3</string>
	</dict>
	<dict>
		<key>天津卫视</key>
		<string>http://cctvtxyh5ca.liveplay.myqcloud.com/wstv/tianjin_2/index.m3u8</string>
	</dict>
	<dict>
		<key>天津滨海一套</key>
		<string>http://60.30.52.41/live/bhtv1/playlist.m3u8</string>
	</dict>
	<dict>
		<key>天津滨海二套</key>
		<string>http://60.30.52.41/live/bhtv2/playlist.m3u8</string>
	</dict>
	<dict>
		<key>辽宁卫视</key>
		<string>http://by4.nty.tv189.cn/tm-liaoninghd-800k.m3u8</string>
	</dict>
	<dict>
		<key>辽宁都市频道</key>
		<string>http://61.161.250.41:8114/hls/index.m3u8?FvSeid=1&amp;Fsv_ctype=lives&amp;Fsv_otype=1&amp;Provider_id=&amp;Pcontent_id=&amp;Fsv_chan_hls_se_idx=16</string>
	</dict>
	<dict>
		<key>辽宁经济频道</key>
		<string>http://lms.csytv.com/Live/123/live/livestream.m3u8</string>
	</dict>
	<dict>
		<key>辽宁公共频道</key>
		<string>http://lms.csytv.com/Live/124/live/livestream.m3u8</string>
	</dict>
	<dict>
		<key>河南卫视</key>
		<string>http://ivi.bupt.edu.cn//hls/hntv.m3u8</string>
	</dict>
	<dict>
		<key>河北卫视</key>
		<string>http://121.31.30.90:8085/ysten-business/live/hebeistv/1.m3u8</string>
	</dict>
	<dict>
		<key>河北公共频道</key>
		<string>http://weblive.hebtv.com/live/hbjj_lc/index.m3u8</string>
	</dict>
	<dict>
		<key>河北都市频道</key>
		<string>http://weblive.hebtv.com/live/hbds_lc/index.m3u8</string>
	</dict>
	<dict>
		<key>河北影视频道</key>
		<string>http://weblive.hebtv.com/live/hbys_lc/index.m3u8</string>
	</dict>
	<dict>
		<key>河北少儿科教频道</key>
		<string>http://weblive.hebtv.com/live/hbse_lc/index.m3u8</string>
	</dict>
	<dict>
		<key>河北农民频道</key>
		<string>http://weblive.hebtv.com/live/nmpd_lc/index.m3u8</string>
	</dict>
	<dict>
		<key>三佳购物</key>
		<string>http://weblive.hebtv.com/live/sjgw_lc/index.m3u8</string>
	</dict>
	<dict>
		<key>东南卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/dongnan_2/index.m3u8</string>
	</dict>
	<dict>
		<key>福建综合频道</key>
		<string>http://player.200877926.top/1786/fj/fjtvm3u8.php?id=4</string>
	</dict>
	<dict>
		<key>福建公共频道</key>
		<string>http://player.200877926.top/1786/fj/fjtvm3u8.php?id=6</string>
	</dict>
	<dict>
		<key>福建新闻频道</key>
		<string>http://player.200877926.top/1786/fj/fjtvm3u8.php?id=13</string>
	</dict>
	<dict>
		<key>福州新闻综合频道</key>
		<string>http://live1.fzntv.cn/live/zohi_fztv1/playlist.m3u8</string>
	</dict>
	<dict>
		<key>福州影视频道</key>
		<string>http://live1.fzntv.cn/live/zohi_fztv2/playlist.m3u8</string>
	</dict>
	<dict>
		<key>福州生活频道</key>
		<string>http://live1.fzntv.cn/live/zohi_fztv3/playlist.m3u8</string>
	</dict>
	<dict>
		<key>福州少儿频道</key>
		<string>http://live1.fzntv.cn/live/zohi_fztv4/playlist.m3u8</string>
	</dict>
	<dict>
		<key>厦门卫视</key>
		<string>http://cstv.live.wscdns.com/live/xiamen/playlist.m3u8</string>
	</dict>
	<dict>
		<key>厦门电视台一套</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/xiamen1_2/index.m3u8</string>
	</dict>
	<dict>
		<key>厦门电视台二套</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/xiamen2_2/index.m3u8</string>
	</dict>
	<dict>
		<key>厦门电视台三套生活频道</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/xiamen3_2/index.m3u8</string>
	</dict>
	<dict>
		<key>厦门电视台四套</key>
		<string>http://cctvalih5ca.v.myalicdn.com/cstv/xiamen4_2/index.m3u8</string>
	</dict>
	<dict>
		<key>四川卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/sctv.m3u8</string>
	</dict>
	<dict>
		<key>四川公共</key>
		<string>http://3017ugjo.live2.danghongyun.com/live/hls/4dc0e927160647a2bd585cb5495810be/d98ad37763a24f05be5112a7aab62c63-1.m3u8</string>
	</dict>
	<dict>
		<key>重庆卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/cqtv.m3u8</string>
	</dict>
	<dict>
		<key>深圳卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/shenzhen_2/index.m3u8</string>
	</dict>
	<dict>
		<key>广东卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/gdtv.m3u8</string>
	</dict>
	<dict>
		<key>广州新闻频道</key>
		<string>http://aplay.gztv.com/sec/xinwen.m3u8</string>
	</dict>
	<dict>
		<key>广州影视频道</key>
		<string>http://aplay.gztv.com/sec/zhonghe.m3u8</string>
	</dict>
	<dict>
		<key>广东少儿频道</key>
		<string>http://aplay.gztv.com/sec/shaoer.m3u8</string>
	</dict>
	<dict>
		<key>广东体育频道</key>
		<string>http://live.hcs.cmvideo.cn:8088/wd_r3/2018/nfmedia/gdty/350/index.m3u8?msisdn=migu&amp;mdspid=&amp;spid=699054&amp;netType=0&amp;sid=5500002207&amp;pid=2028597139&amp;timestamp=20200423021749&amp;Channel_ID=H5_&amp;ProgramID=624303497&amp;ParentNodeID=-99&amp;assertID=5500002207&amp;client_ip=1.203.66.125&amp;SecurityKey=20200423021749&amp;promotionId=&amp;mvid=&amp;mcid=&amp;mpid=&amp;playurlVersion=SJ-H1-0.0.3&amp;userid=&amp;jmhm=&amp;videocodec=h264&amp;encrypt=2e299de99569044e361f0bc9c11545ac</string>
	</dict>
	<dict>
		<key>南方卫视</key>
		<string>http://stream1.grtn.cn/tvs2/sd/live.m3u8?_upt=d91085fc1587588962</string>
	</dict>
	<dict>
		<key>广东城市之声 103.6</key>
		<string>http://lhttp.qingting.fm/live/469/64k.mp3</string>
	</dict>
	<dict>
		<key>广西卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/gxtv.m3u8</string>
	</dict>
	<dict>
		<key>江西卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/jiangxi_2/index.m3u8</string>
	</dict>
	<dict>
		<key>云南卫视</key>
		<string>http://edge1.yntv.cn/channels/yntv/ynws/m3u8:sd</string>
	</dict>
	<dict>
		<key>昆明新闻综合频道</key>
		<string>http://www.ynbit.cn:1935/km-1/livestream/playlist.m3u8</string>
	</dict>
	<dict>
		<key>内蒙古卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/neimenggu_2/index.m3u8</string>
	</dict>
	<dict>
		<key>内蒙古经济生活频道</key>
		<string>http://stream.nmtv.cn/2/playlist.m3u8?_upt=56ff10c61587746626</string>
	</dict>
	<dict>
		<key>内蒙古蒙语卫视</key>
		<string>http://stream.nmtv.cn/3/playlist.m3u8?_upt=664f19ec1587746660</string>
	</dict>
	<dict>
		<key>内蒙古少儿频道</key>
		<string>http://stream.nmtv.cn/4/playlist.m3u8?_upt=889e79c31587746315</string>
	</dict>
	<dict>
		<key>内蒙古蒙古语文化频道</key>
		<string>http://stream.nmtv.cn/5/playlist.m3u8?_upt=ca646ea11587746707</string>
	</dict>
	<dict>
		<key>内蒙古农牧频道</key>
		<string>http://stream.nmtv.cn/6/playlist.m3u8?_upt=d2d0d5d51587746826</string>
	</dict>
	<dict>
		<key>内蒙古新闻综合频道</key>
		<string>http://stream.nmtv.cn/7/playlist.m3u8?_upt=aa1ad25c1587746422</string>
	</dict>
	<dict>
		<key>内蒙古文体娱乐频道</key>
		<string>http://stream.nmtv.cn/8/playlist.m3u8?_upt=337af4c01587746661</string>
	</dict>
	<dict>
		<key>吉林卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/jltv.m3u8</string>
	</dict>
	<dict>
		<key>宁夏卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/nxtv.m3u8</string>
	</dict>
	<dict>
		<key>山东卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/shandong_2/index.m3u8</string>
	</dict>
	<dict>
		<key>山东教育电视台</key>
		<string>http://cctvtxyh5ca.liveplay.myqcloud.com/cstv/sdetv_2/index.m3u8</string>
	</dict>
	<dict>
		<key>山东电视台齐鲁频道</key>
		<string>http://player.200877926.top/18/tv.php?tv=qltv&amp;id=qlpd</string>
	</dict>
	<dict>
		<key>贵州卫视</key>
		<string>http://cctvalih5ca.v.myalicdn.com/wstv/guizhou_2/index.m3u8</string>
	</dict>
	<dict>
		<key>贵州公共频道</key>
		<string>http://hls-qnlo-live.gzstv.com/livegztv-lo/CH02_lo.m3u8?s=075fe4f2ed7c4159ab573225f927efc2&amp;ts=5ea2f376</string>
	</dict>
	<dict>
		<key>贵州电视剧频道</key>
		<string>http://hls-qnlo-live.gzstv.com/livegztv-lo/CH03_lo.m3u8?s=1889e9a91b017fd2f0fc30491e821c8d&amp;ts=5ea2f3cb</string>
	</dict>
	<dict>
		<key>贵州生活频道</key>
		<string>http://hls-qnlo-live.gzstv.com/livegztv-lo/CH04_lo.m3u8?s=b4fbced7a83cb9015361b003a10c81aa&amp;ts=5ea2f76b</string>
	</dict>
	<dict>
		<key>贵州法制频道</key>
		<string>http://hls-qnlo-live.gzstv.com/livegztv-lo/CH05_lo.m3u8?s=1fc5fbe5f81a0e39f607e370ba730af6&amp;ts=5ea2f72b</string>
	</dict>
	<dict>
		<key>贵阳新闻综合频道</key>
		<string>http://hls.qguiyang.com/GYBTV1/800/080cYg.m3u8</string>
	</dict>
	<dict>
		<key>贵阳经济生活频道</key>
		<string>http://hls.qguiyang.com/GYBTV2/800/z70cYg.m3u8</string>
	</dict>
	<dict>
		<key>贵阳法制频道</key>
		<string>http://hls.qguiyang.com/GYBTV3/800/y70cYg.m3u8</string>
	</dict>
	<dict>
		<key>贵阳都市频道</key>
		<string>http://hls.qguiyang.com/GYBTV4/800/x70cYg.m3u8</string>
	</dict>
	<dict>
		<key>贵阳旅游生活频道</key>
		<string>http://hls.qguiyang.com/GYBTV5/800/w70cYg.m3u8</string>
	</dict>
	<dict>
		<key>黑龙江卫视</key>
		<string>http://stream2.hljtv.com/hljys/playlist.m3u8?_upt=d1e049731587746091</string>
	</dict>
	<dict>
		<key>黑龙江公共农业频道</key>
		<string>http://stream1.hljtv.com/hljgg/playlist.m3u8?_upt=58b4c9cd1587745726</string>
	</dict>
	<dict>
		<key>黑龙江新闻法治频道</key>
		<string>http://stream2.hljtv.com/hljxw/playlist.m3u8?_upt=2a16b2381587746091</string>
	</dict>
	<dict>
		<key>黑龙江少儿频道</key>
		<string>http://stream1.hljtv.com/hljse/playlist.m3u8?_upt=b466c4bc1587746090</string>
	</dict>
	<dict>
		<key>陕西卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/sxtv.m3u8</string>
	</dict>
	<dict>
		<key>陕西农林卫视</key>
		<string>http://stream.snrtv.com/sxtvs-nl.m3u8</string>
	</dict>
	<dict>
		<key>陕西新闻资讯频道</key>
		<string>http://stream.snrtv.com/sxtvs-1.m3u8</string>
	</dict>
	<dict>
		<key>陕西都市青春频道</key>
		<string>http://stream.snrtv.com/sxtvs-2.m3u8</string>
	</dict>
	<dict>
		<key>陕西生活频道</key>
		<string>http://stream.snrtv.com/sxtvs-3.m3u8</string>
	</dict>
	<dict>
		<key>陕西公共频道</key>
		<string>http://stream.snrtv.com/sxtvs-5.m3u8</string>
	</dict>
	<dict>
		<key>甘肃卫视</key>
		<string>http://stream.gstv.com.cn/gsws/sd/live.m3u8?_upt=a270daf71573665411</string>
	</dict>
	<dict>
		<key>甘肃都市频道</key>
		<string>http://stream.gstv.com.cn/dspd/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>甘肃公共频道</key>
		<string>http://stream.gstv.com.cn/ggpd/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>甘肃经济频道</key>
		<string>http://stream.gstv.com.cn/jjpd/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>甘肃文化影视频道</key>
		<string>http://stream.gstv.com.cn/whys/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>甘肃少儿频道</key>
		<string>http://stream.gstv.com.cn/sepd/sd/live.m3u8?_upt=00e58d251571987679</string>
	</dict>
	<dict>
		<key>新疆卫视</key>
		<string>http://ivi.bupt.edu.cn/hls/xjtv.m3u8</string>
	</dict>
	<dict>
		<key>海南卫视</key>
		<string>http://stream3.hnntv.cn/hnws/playlist.m3u8?_upt=2d1966501587748633</string>
	</dict>
	<dict>
		<key>三沙卫视</key>
		<string>http://stream3.hnntv.cn/ssws/playlist.m3u8?_upt=97f6b6b01587748498</string>
	</dict>
	<dict>
		<key>兵团卫视</key>
		<string>http://v.btzx.com.cn:1935/live/weishi.stream/playlist.m3u8</string>
	</dict>
	<dict>
		<key>西藏卫视</key>
		<string>http://media.vtibet.com/masvod/HLSLive/9/hanyuTV_q1.m3u8</string>
	</dict>
	<dict>
		<key>海峡卫视</key>
		<string>http://118.123.60.12:8114/LIVES/Fsv_otype=1&amp;amp;FvSeid=&amp;amp;Fsv_chan_hls_se_idx=024&amp;amp;Provider_id=&amp;amp;Pcontent_id=index.m3u8</string>
	</dict>
	<dict>
		<key>香港卫视</key>
		<string>http://zhibo.hkstv.tv/livestream/mutfysrq/playlist.m3u8</string>
	</dict>
	<dict>
		<key>香港财经</key>
		<string>rtmp://202.69.69.180:443/webcast/bshdlive-pc</string>
	</dict>
	<dict>
		<key>凤凰香港台</key>
		<string>rtmp://58.200.131.2:1935/livetv/fhzw</string>
	</dict>
	<dict>
		<key>凤凰资讯台</key>
		<string>rtmp://58.200.131.2:1935/livetv/fhzx</string>
	</dict>
	<dict>
		<key>TVB翡翠台</key>
		<string>http://116.199.5.52:8114/00000000/index.m3u8?&amp;amp;Fsv_ctype=LIVES&amp;amp;Fsv_otype=1&amp;amp;FvSeid=5abd1660af1babb4&amp;amp;Fsv_filetype=1&amp;amp;Fsv_ctype=LIVES&amp;amp;Fsv_cid=0&amp;amp;Fsv_chan_hls_se_idx=188&amp;amp;Fsv_rate_id=0&amp;amp;Fsv_SV_PARAM1=0&amp;amp;Fsv_ShiftEnable=0&amp;amp;Fsv_ShiftTsp=0&amp;amp;Provider_id=&amp;amp;Pcontent_id=&amp;amp;Fsv_CMSID=&amp;amp;Fsv_otype=1</string>
	</dict>
	<dict>
		<key>健康卫视</key>
		<string>http://live.jkwshk.tv/AppName/StreamName.m3u8</string>
	</dict>
	<dict>
		<key>澳亚卫视</key>
		<string>http://stream.mastvnet.com/MASTV/sd/live.m3u8</string>
	</dict>
	<dict>
		<key>美国NBC</key>
		<string>http://media1.sinovision.net:1935/live/enstream/chunklist_w665513809.m3u8</string>
	</dict>
	<dict>
		<key>美国中文电视台</key>
		<string>rtmp://media3.sinovision.net:1935/live/livestream</string>
	</dict>
	<dict>
		<key>美国NS8</key>
		<string>rtmp://ns8.indexforce.com/home/mystream</string>
	</dict>
	<dict>
		<key>韩国GoodTV</key>
		<string>rtmp://mobliestream.c3tv.com:554/live/goodtv.sdp</string>
	</dict>
	<dict>
		<key>韩国朝鲜日报</key>
		<string>rtmp://live.chosun.gscdn.com/live/tvchosun1.stream</string>
	</dict>
	<dict>
		<key>大熊兔测试</key>
		<string>rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov</string>
	</dict>
	<dict>
		<key>苹果测试源</key>
		<string>http://devimages.apple.com.edgekey.net/streaming/examples/bipbop_4x3/gear2/prog_index.m3u8</string>
	</dict>
</array>
</plist>
