<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCTV1 综合</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv1hd.m3u8</string>
	<key>CCTV2 财经</key>
	<string>http://wxcnlive.videocc.net/vod1/cctv2169/01.m3u8</string>
	<key>CCTV3 综艺</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv3hd.m3u8</string>
	<key>CCTV4 国际</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv4.m3u8</string>
	<key>CCTV5 体育</key>
	<string>http://125.210.152.10:8060/live/CCTV5HD_H265.m3u8</string>
	<key>CCTV5+ 赛事</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv5phd.m3u8</string>
	<key>CCTV6 电影</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv6hd.m3u8</string>
	<key>CCTV7 农业</key>
	<string>http://121.31.30.90:8085/ysten-business/live/cctv-7/1.m3u8</string>
	<key>CCTV8 电视剧</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv8hd.m3u8</string>
	<key>CCTV9 纪录片</key>
	<string>http://121.31.30.90:8085/ysten-business/live/cctv-9/1.m3u8</string>
	<key>CCTV10 科教</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/live/cctv10_2/index.m3u8</string>
	<key>CCTV11 戏曲</key>
	<string>http://121.31.30.90:8085/ysten-business/live/cctv-11/1.m3u8</string>
	<key>CCTV12 法制</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv12.m3u8</string>
	<key>CCTV13 新闻</key>
	<string>http://ivi.bupt.edu.cn/hls/cctv13.m3u8</string>
	<key>CCTV14 少儿</key>
	<string>http://121.31.30.90:8085/ysten-business/live/cctv-14/1.m3u8</string>
	<key>CCTV15 音乐</key>
	<string>http://121.31.30.90:8085/ysten-business/live/cctv-15/1.m3u8</string>
	<key>湖南卫视</key>
	<string>rtmp://58.200.131.2:1935/livetv/hunantv</string>
	<key>湖南经视频道</key>
	<string>http://hnsd.chinashadt.com:2036/live/stream:hunandushi.stream/playlist.m3u8</string>
	<key>湖南都市频道</key>
	<string>http://hnsd.chinashadt.com:2036/live/stream:hunandushi.stream/playlist.m3u8</string>
	<key>湖南公共频道</key>
	<string>http://klglive.imgo.tv/nn_live/nn_x64/aWQ9S0xDRE1QUDM2MCZjZG5leF9pZD1rbGNkLWxpdmU,/HNGGMPP360.m3u8</string>
	<key>湖南电视剧频道</key>
	<string>http://klglive.imgo.tv/nn_live/nn_x64/aWQ9S0xDRE1QUDM2MCZjZG5leF9pZD1rbGNkLWxpdmU,/HNDSJMPP360.m3u8</string>
	<key>湖南国际频道</key>
	<string>http://klglive.imgo.tv/nn_live/nn_x64/aWQ9S0xDRE1QUDM2MCZjZG5leF9pZD1rbGNkLWxpdmU,/HNGJMPP360.m3u8</string>
	<key>湖南金鹰纪实频道</key>
	<string>http://klglive.imgo.tv/nn_live/nn_x64/aWQ9S0xDRE1QUDM2MCZjZG5leF9pZD1rbGNkLWxpdmU,/JYJSMPP360.m3u8</string>
	<key>湖南金鹰卡通</key>
	<string>http://121.31.30.90:8085/ysten-business/live/jinyingkaton/1.m3u8</string>
	<key>湖北卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/hubei_2/index.m3u8</string>
	<key>湖北影视频道</key>
	<string>http://cssh.hbtv.com.cn/hubeitv/s10008-live-hbys.m3u8</string>
	<key>湖北经视频道</key>
	<string>http://cssh.hbtv.com.cn/hubeitv/s10008-live-hbjs.m3u8</string>
	<key>湖北教育频道</key>
	<string>http://cssh.hbtv.com.cn/hubeitv/s10008-live-hbjy.m3u8</string>
	<key>湖北综合频道</key>
	<string>http://cssh.hbtv.com.cn/hubeitv/s10008-live-hbzh.m3u8</string>
	<key>湖北生活频道</key>
	<string>http://cssh.hbtv.com.cn/hubeitv/s10008-live-hbsh.m3u8</string>
	<key>北京卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/btv1_2/index.m3u8</string>
	<key>北京财经频道</key>
	<string>http://ivi.bupt.edu.cn/hls/btv5.m3u8</string>
	<key>北京科教频道</key>
	<string>http://ivi.bupt.edu.cn/hls/btv3.m3u8</string>
	<key>北京影视频道</key>
	<string>http://ivi.bupt.edu.cn/hls/btv4.m3u8</string>
	<key>江苏卫视</key>
	<string>http://live2.plus.hebtv.com/jsws/sd/live.m3u8</string>
	<key>江苏国际频道</key>
	<string>http://101.89.132.136/live/tm-jsgjhd-800k.m3u8</string>
	<key>江苏影视频道</key>
	<string>http://101.89.132.136/live/tm-jsyshd-800k.m3u8</string>
	<key>浙江卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/zjhd.m3u8</string>
	<key>浙江经视频道</key>
	<string>http://l.cztvcloud.com/channels/lantian/channel03/360p.m3u8</string>
	<key>浙江国际频道</key>
	<string>http://l.cztvcloud.com/channels/lantian/channel10/360p.m3u8</string>
	<key>浙江公共新闻</key>
	<string>http://l.cztvcloud.com/channels/lantian/channel07/360p.m3u8</string>
	<key>安徽卫视</key>
	<string>http://118.123.60.9:8114/hls/index.m3u8?Fsv_chan_hls_se_idx=9&amp;FvSeid=1&amp;Fsv_ctype=LIVES&amp;Provider_id=&amp;Pcontent_id=.m3u8</string>
	<key>上海东方卫视</key>
	<string>http://118.123.60.8:8114/LIVES/Fsv_otype=1?FvSeid=5cbfa40873c73b82&amp;Fsv_filetype=1&amp;Fsv_ctype=LIVES&amp;Fsv_cid=0&amp;Fsv_chan_hls_se_idx=1&amp;Fsv_rate_id=1&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftEnable=0&amp;Fsv_ShiftTsp=0&amp;Provider_id=&amp;Pcontent_id=index.m3u8&amp;Fsv_CMSID=&amp;Fsv_otype=1</string>
	<key>上海第一财经</key>
	<string>https://w1live.livecdn.yicai.com/live/cbn.m3u8</string>
	<key>上海电视剧频道</key>
	<string>http://by4.nty.tv189.cn/tm-shdsj-800k.m3u8</string>
	<key>上海东方娱乐</key>
	<string>http://101.89.132.136/live/tm-dongfangyule-800k.m3u8</string>
	<key>上海新闻综合频道</key>
	<string>http://live-stream.kksmg.com/hls/stv7af3c4ee_5ed4462f9ba057dadf59f2e3/playlist.m3u8</string>
	<key>上海炫动卡通</key>
	<string>http://121.31.30.90:8085/ysten-business/live/xuandongkaton/1.m3u8</string>
	<key>天津卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/tianjin_2/index.m3u8</string>
	<key>天津滨海一套</key>
	<string>http://60.30.52.41/live/bhtv1/playlist.m3u8</string>
	<key>天津滨海二套</key>
	<string>http://60.30.52.41/live/bhtv2/playlist.m3u8</string>
	<key>天津三佳购物</key>
	<string>http://r.gslb.lecloud.com/live/hls/20150921300001516/desc.m3u8</string>
	<key>辽宁卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/liaoning_2/index.m3u8</string>
	<key>辽宁经济频道</key>
	<string>http://lms.csytv.com/Live/123/live/livestream.m3u8</string>
	<key>辽宁公共频道</key>
	<string>http://lms.csytv.com/Live/124/live/livestream.m3u8</string>
	<key>河南卫视</key>
	<string>http://ivi.bupt.edu.cn//hls/hntv.m3u8</string>
	<key>河南都市频道</key>
	<string>http://123.163.119.21:9601/live/live2/500K/tzwj_video.m3u8</string>
	<key>河南民生频道</key>
	<string>http://123.163.119.21:9601/live/live3/500K/tzwj_video.m3u8</string>
	<key>河南法制频道</key>
	<string>http://123.163.119.21:9601/live/live4/500K/tzwj_video.m3u8</string>
	<key>河南电视剧频道</key>
	<string>http://123.163.119.21:9601/live/live5/500K/tzwj_video.m3u8</string>
	<key>河南新闻频道</key>
	<string>http://123.163.119.21:9601/live/live6/500K/tzwj_video.m3u8</string>
	<key>河南公共频道</key>
	<string>http://123.163.119.21:9601/live/live8/500K/tzwj_video.m3u8</string>
	<key>河南新农村频道</key>
	<string>http://123.163.119.21:9601/live/live9/500K/tzwj_video.m3u8</string>
	<key>河南国际频道</key>
	<string>http://123.163.119.21:9601/live/live10/500K/tzwj_video.m3u8</string>
	<key>河北卫视</key>
	<string>http://121.31.30.90:8085/ysten-business/live/hebeistv/1.m3u8</string>
	<key>河北公共频道</key>
	<string>http://weblive.hebtv.com/live/hbgg_lc/index.m3u8</string>
	<key>河北经济频道</key>
	<string>http://weblive.hebtv.com/live/hbjj_lc/index.m3u8</string>
	<key>河北都市频道</key>
	<string>http://weblive.hebtv.com/live/hbds_lc/index.m3u8</string>
	<key>河北影视频道</key>
	<string>http://weblive.hebtv.com/live/hbys_lc/index.m3u8</string>
	<key>河北少儿科教频道</key>
	<string>http://weblive.hebtv.com/live/hbse_lc/index.m3u8</string>
	<key>河北农民频道</key>
	<string>http://weblive.hebtv.com/live/nmpd_lc/index.m3u8</string>
	<key>河北三佳购物频道</key>
	<string>http://weblive.hebtv.com/live/sjgw_lc/index.m3u8</string>
	<key>东南卫视</key>
	<string>http://cctvalih5c.v.myalicdn.com/wstv/dongnan_2/index.m3u8</string>
	<key>福州影视频道</key>
	<string>http://live1.fzntv.cn/live/zohi_fztv2/playlist.m3u8</string>
	<key>厦门卫视</key>
	<string>http://cstv.live.wscdns.com/live/xiamen/playlist.m3u8</string>
	<key>厦门电视台一套</key>
	<string>http://cstv.live.wscdns.com/live/xiamen1/playlist.m3u8</string>
	<key>厦门电视台二套</key>
	<string>http://cstv.live.wscdns.com/live/xiamen2/playlist.m3u8</string>
	<key>厦门电视台三套</key>
	<string>http://cstv.live.wscdns.com/live/xiamen3/playlist.m3u8</string>
	<key>厦门电视台四套</key>
	<string>http://cstv.live.wscdns.com/live/xiamen4/playlist.m3u8</string>
	<key>四川卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/sctv.m3u8</string>
	<key>四川新闻资讯</key>
	<string>http://scgctvshow.sctv.com/sdlive/sctv4/3.m3u8</string>
	<key>四川影视文艺</key>
	<string>http://scgctvshow.sctv.com/hdlive/sctv5/3.m3u8</string>
	<key>四川公共频道</key>
	<string>http://3017ugjo.live2.danghongyun.com/live/hls/4dc0e927160647a2bd585cb5495810be/d98ad37763a24f05be5112a7aab62c63-1.m3u8</string>
	<key>四川文化旅游</key>
	<string>http://scgctvshow.sctv.com/hdlive/sctv2/3.m3u8</string>
	<key>四川经济频道</key>
	<string>http://scgctvshow.sctv.com/hdlive/sctv3/3.m3u8</string>
	<key>重庆卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/cqtv.m3u8</string>
	<key>深圳卫视</key>
	<string>http://www.szmgiptv.com:14436/hls/7.m3u8</string>
	<key>云南卫视</key>
	<string>http://edge1.yntv.cn/channels/yntv/ynws/m3u8:sd</string>
	<key>昆明电视台新闻综合频道</key>
	<string>http://www.ynbit.cn:1935/km-1/livestream/playlist.m3u8</string>
	<key>内蒙古卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/neimenggu_2/index.m3u8</string>
	<key>内蒙古少儿频道</key>
	<string>http://stream.nmtv.cn/4/sd/live.m3u8</string>
	<key>吉林卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/jltv.m3u8</string>
	<key>宁夏卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/nxtv.m3u8</string>
	<key>山东卫视</key>
	<string>http://ksdlive.gwpd.iqilu.com/sdtv.m3u8</string>
	<key>山东教育频道</key>
	<string>http://live.sdetv.com.cn/live/sdetv/playlist.m3u8</string>
	<key>齐鲁卫视</key>
	<string>http://121.31.30.90:8085/ysten-business/live/shandongjy/1.m3u8</string>
	<key>贵州卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/guizhou_2/index.m3u8</string>
	<key>贵阳新闻综合频道</key>
	<string>http://58.42.231.170/tslslive/GYBTV-1/hls/live_sd.m3u8</string>
	<key>贵阳经济生活频道</key>
	<string>http://58.42.231.170/tslslive/GYBTV-2/hls/live_sd.m3u8</string>
	<key>贵阳法制频道</key>
	<string>http://58.42.231.170/tslslive/GYBTV-3/hls/live_sd.m3u8</string>
	<key>贵阳都市频道</key>
	<string>http://58.42.231.170/tslslive/GYBTV-4/hls/live_sd.m3u8</string>
	<key>黑龙江卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/heilongjiang_2/index.m3u8</string>
	<key>黑龙江影视频道</key>
	<string>http://stream2.hljtv.com/hljys/playlist.m3u8?_upt=51dadfea1569776667</string>
	<key>大庆影视频道</key>
	<string>rtmp://live1.baihuwang.com:1935/live/ys</string>
	<key>江西卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/jiangxi_2/index.m3u8</string>
	<key>江西2台都市频道</key>
	<string>http://live02.jxtvcn.com.cn/fdc9ca24357649959c99f1c37eb76611/h264_500k_ts/index.m3u8</string>
	<key>江西3台经济生活频道</key>
	<string>http://live02.jxtvcn.com.cn/bab644cf47ec48459835939552cc8833/h264_500k_ts/index.m3u8</string>
	<key>江西4台影视娱乐频道</key>
	<string>http://live02.jxtvcn.com.cn/efbb81cbf9b0452fa810c376891f944a/h264_500k_ts/index.m3u8</string>
	<key>江西5台公共频道</key>
	<string>http://live02.jxtvcn.com.cn/193223a69fc045f99500aed9fe019112/h264_500k_ts/index.m3u8</string>
	<key>江西6台少儿频道</key>
	<string>http://live02.jxtvcn.com.cn/159dcf8ce67f445d80e3c53c0d1eef60/h264_500k_ts/index.m3u8</string>
	<key>江西7台电影频道</key>
	<string>http://live02.jxtvcn.com.cn/ef3f182f42c24b92a3c246de9bc43a16/h264_500k_ts/index.m3u8</string>
	<key>广西卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/gxtv.m3u8</string>
	<key>广西新闻频道</key>
	<string>http://222.203.241.36:5000/nn_live.m3u8?id=sm_gxzx</string>
	<key>广西公共频道</key>
	<string>http://222.203.241.36:5000/nn_live.m3u8?id=sm_gxgg</string>
	<key>广西影视频道</key>
	<string>http://222.203.241.36:5000/nn_live.m3u8?id=sm_gxys</string>
	<key>广西科教频道</key>
	<string>http://222.203.241.36:5000/nn_live.m3u8?id=pm_gxkj</string>
	<key>广东卫视</key>
	<string>http://nclive.grtn.cn/gdws/sd/live.m3u8</string>
	<key>广州新闻频道</key>
	<string>http://lss2.gztv.com/streaming/gzbn_new/index.m3u8</string>
	<key>广州综合频道</key>
	<string>http://lss2.gztv.com/streaming/gzbn_tv/index.m3u8</string>
	<key>广东少儿频道</key>
	<string>http://lss2.gztv.com/streaming/gzbn_new/index.m3u8</string>
	<key>南方卫视</key>
	<string>http://nclive.grtn.cn/tvs2/sd/live.m3u8?_upt=d085e4df1552673100</string>
	<key>陕西卫视</key>
	<string>http://121.31.30.90:8085/ysten-business/live/shanxi1stv/1.m3u8</string>
	<key>甘肃卫视</key>
	<string>http://cctvalih5c.v.myalicdn.com/wstv/gansu_2/index.m3u8</string>
	<key>甘肃文化影视频道</key>
	<string>http://stream.gstv.com.cn/whys/sd/live.m3u8</string>
	<key>甘肃经济频道</key>
	<string>http://stream.gstv.com.cn/jjpd/sd/live.m3u8</string>
	<key>甘肃公共频道</key>
	<string>http://stream.gstv.com.cn/ggpd/sd/live.m3u8</string>
	<key>甘肃都市频道</key>
	<string>http://stream.gstv.com.cn/dspd/sd/live.m3u8</string>
	<key>甘肃少儿频道</key>
	<string>http://stream.gstv.com.cn/sepd/hd/live.m3u8</string>
	<key>新疆卫视</key>
	<string>http://ivi.bupt.edu.cn/hls/xjtv.m3u8</string>
	<key>青海卫视</key>
	<string>http://cctvalih5c.v.myalicdn.com/wstv/qinghai_2/index.m3u8</string>
	<key>西藏卫视</key>
	<string>http://media.vtibet.com/masvod/HLSLive/9/hanyuTV_q1.m3u8</string>
	<key>旅游卫视</key>
	<string>http://cctvtxyh5c.liveplay.myqcloud.com/wstv/travel_2/index.m3u8</string>
	<key>兵团卫视</key>
	<string>http://v.btzx.com.cn:1935/live/weishi.stream/playlist.m3u8</string>
	<key>香港卫视</key>
	<string>rtmp://live.hkstv.hk.lxdns.com/live/hks</string>
	<key>香港财经</key>
	<string>rtmp://202.69.69.180:443/webcast/bshdlive-pc</string>
	<key>凤凰卫视香港台</key>
	<string>rtmp://58.200.131.2:1935/livetv/fhzw</string>
	<key>凤凰卫视资讯台</key>
	<string>rtmp://58.200.131.2:1935/livetv/fhzx</string>
	<key>TVB翡翠台</key>
	<string>http://116.199.5.52:8114/00000000/index.m3u8?&amp;Fsv_ctype=LIVES&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Fsv_filetype=1&amp;Fsv_ctype=LIVES&amp;Fsv_cid=0&amp;Fsv_chan_hls_se_idx=188&amp;Fsv_rate_id=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftEnable=0&amp;Fsv_ShiftTsp=0&amp;Provider_id=&amp;Pcontent_id=&amp;Fsv_CMSID=&amp;Fsv_otype=1</string>
	<key>健康卫视</key>
	<string>http://live.jkwshk.tv/AppName/StreamName.m3u8</string>
	<key>台湾卫视</key>
	<string>http://zhibo.hkstv.tv/livestream/zb2yhapo/playlist.m3u8</string>
	<key>澳亚卫视</key>
	<string>http://stream.mastvnet.com/MASTV/sd/live.m3u8</string>
	<key>优漫卡通卫视</key>
	<string>http://223.110.243.171/PLTV/3/224/3221226982/index.m3u8</string>
	<key>卡酷少儿</key>
	<string>http://ivi.bupt.edu.cn/hls/btv10.m3u8</string>
	<key>劲爆体育</key>
	<string>http://183.207.249.9/PLTV/2/224/3221226045/index.m3u8</string>
	<key>中国之声 FM106.1</key>
	<string>http://rtmpcnr001.cnr.cn/live26/zgzs/playlist.m3u8</string>
	<key>音乐之声</key>
	<string>http://lhttp.qingting.fm/live/388/64k.mp3</string>
	<key>北京交通广播 FM103.9</key>
	<string>http://lhttp.qingting.fm/live/336/64k.mp3</string>
	<key>北京外语广播 AM774</key>
	<string>http://lhttp.qingting.fm/live/334/64k.mp3</string>
	<key>广东城市之声 103.6</key>
	<string>http://lhttp.qingting.fm/live/469/64k.mp3</string>
	<key>上海交通广播 FM105.7</key>
	<string>http://lhttp.qingting.fm/live/266/64k.mp3</string>
	<key>上海故事广播 FM107.2</key>
	<string>http://lhttp.qingting.fm/live/268/64k.mp3</string>
	<key>上海动感101音乐 FM101.7</key>
	<string>http://lhttp.qingting.fm/live/274/64k.mp3</string>
	<key>上海魅力103 FM103.7</key>
	<string>http://lhttp.qingting.fm/live/273/64k.mp3</string>
	<key>美国NS8</key>
	<string>rtmp://ns8.indexforce.com/home/mystream</string>
	<key>美国NBC电视台</key>
	<string>http://media1.sinovision.net:1935/live/enstream/chunklist_w665513809.m3u8</string>
	<key>美国中文电视</key>
	<string>rtmp://media3.sinovision.net:1935/live/livestream</string>
	<key>韩国GoodTV</key>
	<string>rtmp://mobliestream.c3tv.com:554/live/goodtv.sdp</string>
	<key>韩国朝鲜日报</key>
	<string>rtmp://live.chosun.gscdn.com/live/tvchosun1.stream</string>
	<key>大熊兔（点播）</key>
	<string>rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov</string>
	<key>苹果测试源（点播）</key>
	<string>http://devimages.apple.com.edgekey.net/streaming/examples/bipbop_4x3/gear2/prog_index.m3u8</string>
</dict>
</plist>
